.footer {
    background-color: $p-color3;

    &_inner {
        @include site_width;
        padding-bottom: rem(40px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &_wrapper {
        &.navbar {
            margin: rem(25px) rem(45px) rem(20px);
        }

        &.icons {
            margin-top: rem(22px);
        }

        &.copyright {
            margin-top: rem(10px);
        }

        &.link {
            margin: rem(10px) 0 0 rem(25px);
            font-family: 'Nunito-Regular';
        }
    }

    &_icon_list {
        display: flex;
    }

    &_icon_link {
        font-size: 0;

        &.icon-facebook-1::before {
            margin-left: 0;
        }

        &::before {
            @include before;
            width: 100%;
            font-size: rem(12px);
            margin-left: rem(19px);
        }
    }

    &_copyright {
        @include font ('Nunito-Light', 14px);
    }

    &_link {
        font-size: rem(18px);
        margin-left: rem(50px);
        position: relative;

        &_icon {
            font-size: 0;

            &::before {
                @include before;
                color: $p-color1;
                font-size: rem(18px);
                margin-right: rem(15px);
                position: absolute;
                top: 11%;
                left: -25%;
            }
        }
    }

    @include respond-to(to_desktop) {
        &_inner {
            width: 100%;
            flex-direction: column;
        }

        &_wrapper {
            &.navbar {
                order: 1;
                margin: rem(20px) rem(60px) rem(20px);
            }

            &.icons {
                order: 3;
                margin-top: rem(20px);
            }

            &.link {
                order: 2;
                display: flex;
                justify-content: space-around;
                margin: 0;
                width: 90%;
            }

            &.copyright {
                order: 4;
                margin-top: 0;
            }
        }

        &_link {
            margin-left: 0;
            font-size: rem(16px);

            &:first-child {
                right: rem(-20px);
            }

            &_icon::before {
                font-size: rem(16px);
            }
        }

        &_icon {
            &_list {
                justify-content: space-around;
            }

            &_link::before {
                margin-left: rem(15px);
                font-size: rem(12px);
            }
        }

        &_copyright {
            font-size: rem(14px);
            color: #c2c2c2;
        }
    }

    @include respond-to(mobile) {
        &_wrapper {
            &.navbar {
                margin-bottom: rem(10px);
            }
        }

        &_link {
            font-size: rem(14px);

            &:first-child {
                right: rem(-20px);
            }

            &_icon::before {
                font-size: rem(14px);
            }

            &::before {
                font-size: rem(10px);
            }
        }

        &_copyright {
            font-size: rem(12px);
        }
    }

    @media (max-width: 374px) {
        &_wrapper{
            &.icons {
                margin-top: rem(10px);
            }
        
            &.link {
                flex-direction: column;
                width: auto;
            }
        }

        &_link {
            left: rem(10px);
            margin-bottom: rem(10px);
        }
    }
}






