.header_top {
    &_list {
        display: flex;
        
        &.default {
            margin-top: rem(5px);
        }
    }

    &_item {
        margin-left: rem(40px);

        &.footer:first-child {
            margin-left: 0;
        }
    }

    &_link {
        @include font('Nunito-Bold', 14px);

        &:hover, &.active {
            color: $p-color1;
            padding-bottom: rem(5px);
            border-bottom: rem(2px) solid $p-color1;
        }
    }

    @include respond-to(to_desktop) {
        &_list {
            &.default {
                margin-top: rem(20px);
            }

            &.footer {
                margin-top: 0;
            }
        }

        &_item {
            margin-left: rem(30px);

            &:first-child {
                margin-left: 0;
            }
        }
    }

    @include respond-to(mobile) {
        &_logo_link {
            margin-top: rem(-11px);

            &.burger {
                position: absolute;
                left: 10%;
                top: 4%;
                align-items: center;
                z-index: 11;
            }
        }

        &_list {
            &.default {
                display: none;
                position: absolute;
                flex-direction: column; 
                left: 8%;
                margin-top: 50px;
                z-index: 11;
            }

            &.footer {
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }

        &_item {
            margin: 0 0 rem(35px);

            &.footer {
                margin: 0 rem(5px) rem(10px);
            }
        }

        &_link {
            font-size: rem(16px);
            width: 59%;

            &.default:hover, &.default.active {
                border-bottom: none;
                padding-bottom: 0;
            }

            &.default.active {
                color: $p-color2;
            }

            &.default.active:hover {
                color: $p-color1;
            }

            &.default::before {
                @include before;
                content: "\2022";
                margin: rem(-2px) rem(10px) 0 0;
                position: absolute;
                left: -35%;

                @media (max-width: 700px) {
                    left: -30%;
                }

                @media (max-width: 575px) {
                    left: -25%;
                }

                @media (max-width: 475px) {
                    left: -20%;
                }
            }

            &.footer {
                font-size: rem(12px);
            }
        }
    }
}