.header_top {
    &_icon {
        width: rem(40px);
        height: rem(40px);

        &.footer {
            width: rem(30px);
            height: rem(30px);
        }
    }

    &_logo_link {
        @include font('Raleway-Regular', 28px);
        display: flex;
        align-items: center;

        &.footer {
            font-size: rem(22px);
        }

        &_first {
            margin-left: rem(15px);

            &.footer {
                margin-left: rem(10px);
            }
        }

        &_second {
            font-family: 'Raleway-Light';
        }
    }

    @include respond-to(to_desktop) {
        &_logo_link {
            &_first {
                font-size: rem(18px);
            }

            &.footer {
                display: none;
            }
        }
    }

    @include respond-to(mobile) {
        &_icon {
            width: rem(30px);
            height: rem(30px);
        }
    }
}