.hidden, .header_top_checkbox, .header_top_button, .header_top_burger, .header_top_burger_button, .header_top_logo_link.burger {
    display: none;
    font-size: 0;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    height: 100vh;
    overflow: hidden;

    &_video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        height: 150%;
    }

    &_inner {
        @include site_width(1024px, rem(30px) auto rem(65px));
    }
}

@import "header_top.scss";
@import "header_burger";
@import "header_middle.scss";
@import "header_bottom.scss";