.header_bottom {
    width: 1024px;
    position: absolute;
    bottom: 8%;

    &_list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &_item {
        display: flex;
        width: rem(200px);
        margin-top: rem(20px);
    }

    &_icon {
        height: 100%;
        color: $p-color1;
        font-size: 0;

        &::before {
            @include before;
            font-size: rem(45px);
        }
    }

    &_text {
        margin-left: rem(25px);
        line-height: rem(20px);
        @include font('Nunito-Regular', 24px)
    }

    &_title {
        margin: rem(5px) 0 rem(10px);
    }

    &_description {
        @include font('Nunito-SemiBold', 16px);
    }

    @include respond-to(to_desktop){
        width: 100%;

        &_item {
            padding: 0 rem(75px);
           }
    }

    @include respond-to(mobile) {
        &_item {
            width: rem(150px);
            padding: 0 rem(55px);

            @media (max-width: 536px) {
                padding: 0 rem(35px);
            }

            @media (max-width: 475px) {
                padding: 0 rem(5px);
            }

            &_facebook {
                order: 4;
            }
        }

        &_text {
            font-size: rem(14px);
            margin-left: rem(20px);
        }

        &_title {
            margin: 0 0 rem(5px);
        }

        &_description {
            font-size: rem(12px);
            line-height: rem(15px);
        }
    }
}