.header_middle {
    text-align: center;
    position: absolute;
    top: 35%;
    width: 1024px;

    &_title {
        @include font('Nunito-Light', 40px);
        font-weight: 100;
    }

    &_description {
        @include font('Nunito-SemiBold', 24px);
    }


    @include respond-to(to_desktop) {
        width: 100%;

        &_inner {
        margin: 0 rem(30px);
        }
    }

    @include respond-to(mobile) {
        &_title {
            font-size: rem(19px);
        }

        &_description {
            font-size: rem(15px);
        }
    }
}

