.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 3.948%;
    width: 1024px;

    @include respond-to(to_desktop) {
        width: 100%;
        flex-direction: column;
    }
}