.header_top {
    @include respond-to(mobile) {
        &_checkbox {
            &:checked ~ .header_top_burger {
                display: block;
                position: fixed;
                left: 0;
                top: 0;
                background-color: $p-color3;
                width: 68%;
                height: 100%;
                font-size: 0;
                z-index: 10;
            }

            &:checked ~ .header_top_burger_button {
                display: block;
                position: fixed;
                background-color: rgba(0, 0, 0, 0.7);
                right: 0;
                top: 0;
                width: 32%;
                height: 100%;
                z-index: 9;
            }

            &:checked ~ .header_top_list.default, &:checked ~ .header_top_logo_link.burger {
                display: flex;
            }
        }

        &_button {
            display: block;
            font-size: 0;
            position: absolute;
            width: rem(20px);
            height: rem(20px);
            left: 4%;
            margin-top: rem(-8px);

            &_icon {
                background: $p-color2;
                display: inline-block;
                height: rem(2px);
                position: absolute;
                top: 50%;
                width: 20px;
            }

            &_icon::before, &_icon::after {
                @include before;
                background: $p-color2;
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
            }

            &_icon::before {
                top: rem(-6px);
            }

            &_icon::after {
                top: rem(6px);
            }
        }
    }
}