// Add your section component here
@import "main/our_clients.scss";
@import "main/_portfolio.scss";
@import "main/why_django.scss";
@import "main/contact_us.scss";

// Style for section name. Wrap your green text in <span class="section_name_em">
.section_name {
    @include font("Nunito-SemiBold",40px);
    @include respond-to (mobile) {
        font-size: rem(22px);
    }

    color: $p-color3;
    text-transform: uppercase;
    text-align: center;
    &_em {
        color: $p-color1;
    }
}
