@font-face {
    font-family: 'Raleway-Light';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg'),
         url('../fonts/Raleway-Light.ttf') format('truetype'),
         url('../fonts/Raleway-Light.woff') format('woff'),
         url('../fonts/Raleway-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg'),
         url('../fonts/Raleway-Regular.ttf') format('truetype'),
         url('../fonts/Raleway-Regular.woff') format('woff'),
         url('../fonts/Raleway-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Nunito-SemiBold';
    src: url('../fonts/Nunito-SemiBold.eot');
    src: url('../fonts/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nunito-SemiBold.svg#Nunito-SemiBold') format('svg'),
         url('../fonts/Nunito-SemiBold.ttf') format('truetype'),
         url('../fonts/Nunito-SemiBold.woff') format('woff'),
         url('../fonts/Nunito-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url('../fonts/Nunito-Regular.eot');
    src: url('../fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nunito-Regular.svg#Nunito-Regular') format('svg'),
         url('../fonts/Nunito-Regular.ttf') format('truetype'),
         url('../fonts/Nunito-Regular.woff') format('woff'),
         url('../fonts/Nunito-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-Light';
    src: url('../fonts/Nunito-Light.eot');
    src: url('../fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nunito-Light.svg#Nunito-Light') format('svg'),
         url('../fonts/Nunito-Light.ttf') format('truetype'),
         url('../fonts/Nunito-Light.woff') format('woff'),
         url('../fonts/Nunito-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('../fonts/Nunito-Bold.eot');
    src: url('../fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nunito-Bold.svg#Nunito-Bold') format('svg'),
         url('../fonts/Nunito-Bold.ttf') format('truetype'),
         url('../fonts/Nunito-Bold.woff') format('woff'),
         url('../fonts/Nunito-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
