@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?s6kuif');
    src:  url('../fonts/icomoon.eot?s6kuif#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?s6kuif') format('truetype'),
      url('../fonts/icomoon.woff?s6kuif') format('woff'),
      url('../fonts/icomoon.svg?s6kuif#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-avatar:before {
    content: "\e900";
}

.icon-computer:before {
    content: "\e901";
}

.icon-facebook-1:before {
    content: "\e902";
}

.icon-facebook:before {
    content: "\e903";
}

.icon-letter-note:before {
    content: "\e904";
}

.icon-linkedin:before {
    content: "\e905";
}

.icon-phone-call:before {
    content: "\e906";
}

.icon-smartphone:before {
    content: "\e907";
}

.icon-twitter:before {
    content: "\e908";
}