//   $base-font-size: 16;
//   font-size: rem(22);
@function rem($px) {
    @return ($px / $base-font-size) * 1rem;
}

//   @include respond-to(tablet) {
//      .header {
//         width: 100%;
//      }
//   }
@mixin respond-to($media) {
    // from 0 to 767
    @if $media == mobile {
        @media screen and (max-width: $tablet - 1) {
            @content;
        }
    }
    // from 768 to 1023
    @if $media == tablet {
        @media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
            @content;
        }
    }
    // from 1024
    @if $media == desktop {
        @media screen and (min-width: $desktop) {
            @content;
        }
    }
    // to 1023
    @if $media == to_desktop {
        @media screen and (max-width: $desktop - 1) {
            @content;
        }
    }
    // from 768
    @if $media == from_tablet {
        @media screen and (min-width: $tablet) {
            @content;
        }
    }
}


@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

@mixin before {
    clear: both;
    display: table;
}


@mixin align($vertical:top, $display: inline-block) {
    display: $display;
    vertical-align: $vertical;
}


@mixin site_width($width: $desktop, $margin: 0 auto) {
    margin: $margin;
    max-width: $width;
}


@mixin font ($family, $px) {
    font-family: $family;
    font-size: rem($px);
}
