body, h1, h2, h3, h4, h5, h6, ul, li, p, a, img, span, textarea, input {
    margin: 0;
    padding: 0;
    border: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
