@import "global/var.scss";
@import "global/mixins.scss";
@import "global/fonts.scss";
@import "global/icons.scss";
@import "global/reset.scss";

html {
    scroll-behavior: smooth;
}

body, a {
    color: #ffffff;
}

body {
    min-width: 320px;
    min-height: 720px;
}

@import "components/main.scss";
@import "components/header_footer/global_logo.scss";
@import "components/header_footer/global_navbar.scss";
@import "components/header_footer/header.scss";
@import "components/header_footer/footer.scss";
@import "components/main/our_blog.scss";
