.contact_us {
    margin-top: rem(100px);
    &_map {
        width: 100%;
        height: 420px;
        display: block;
    }
    &_form {
        background-color: $p-color1;
        position: absolute;
        right: 0;
        left: 50%;
        height: 420px;
        padding: rem(35px) rem(35px) rem(42px);
        box-sizing: border-box;

        &_wrapper {
            @include site_width;
            position: relative;
            top: 0;
        }
        &_title {
            @include font("Raleway-Regular",24px);
            font-weight: normal;
        }
        &_inner {
            margin-top: rem(35px);
            display: flex;
            justify-content: space-between;

            * {
                width: 45%;
            }
        }
        &_item {
            @include font("Raleway-Regular",18px);

            background-color: rgba(0, 0, 0, 0);
            line-height: rem(18px);
            padding-bottom: rem(15px);
            border-bottom: 1px solid $p-color2;
            margin-bottom: rem(25px);
            color: $p-color2;

            &::placeholder{
                @include font("Raleway-Regular",18px);
                color: $p-color2;
            }
            &:focus {
                outline: none;
            }
        }
        &_message {
            display: block;
            width: 100%;
            overflow: hidden;
            &:empty::before {
                content: "Your message";
            }
        }
        &_send {
            color: $p-color2;
            display: block;
            padding: rem(10px) rem(35px);
            border: 2px solid $p-color2;
            position: absolute;
            bottom: 42px;
            margin-bottom: 0;
        }
    }
}
@include respond-to (mobile) {
    .contact_us {
        margin-top: rem(50px);
        &_form {
            position: relative;
            left: 0;
            height: auto;

            &_wrapper {
                position: static;
            }
            &_inner {
                flex-direction: column;
                margin-top: 0px;
                * {
                    width: 100%;
                }
            }
            &_title {
                font-size: rem(22px);
            }

            &_name {
                margin-top: rem(25px);
            }

            &_item {
                font-size: rem(16px);
                padding-bottom: rem(10px);

                &::placeholder {
                    font-size: rem(16px);
                }
            }

            &_send {
                position: static;
                width: 100%;
            }
        }
    }
}
