.our_blog{

    width:rem(1025px);
    margin: 0 auto;
    
    &_title{
        color:$p-color3;
        display: block;
        text-align: center;
        @include font('Nunito-Light',36px);
        margin-top:rem(110px);
        margin-bottom:rem(70px);

    }

    &_list{
        display:flex;
        flex-direction: row;
        
    }
    
    &_side_list{
        display:flex;
        flex-direction: column;
        
    }
    &_side_bottom_list{
        display:flex;
        flex-direction: row; 
        
    }
    
    &_top_list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include font('Nunito-Bold',24px);
        color:#ffffff;
    }
   
    &_top_item{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        .date{
            @include font('Nunito-Bold',24px);  
        }
        .month{
            @include font('Nunito-SemiBold',14px);
        }
    }
   
    .block{
        @include font('Nunito-SemiBold',14px);
        padding:10px;
        height: fit-content;
    }

    &_bottom_list{
        display: flex;
        flex-direction: column;
        
    }

    &_item_title{
        @include font('Nunito-Bold',24px);
        color: #ffffff;
        margin-bottom:rem(30px);
    }
    &_item_button_link {
        color:white;
    }
    &_button{
        @include font('Nunito-SemiBold',14px); 
        line-height: 1.875rem;
        border:0.0625rem solid #ffffff;
        color: white;
        width:6.25rem;
        text-align: center;
    }

    .main_item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background:url(../img/lawn-central-park3.png) no-repeat, rgba($color:#60b9e9, $alpha: 1.0) ; 
        background-size: cover;
        width:rem(511px);
        height:rem(481px);
        padding: rem(30px);
        margin-right: rem(2px);
       
        &_block{
            background: #4aa0cf;
        }
    }

    .side_top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background:url(../img/lawn-central-park4.png) no-repeat, rgba($color:#f6a93e, $alpha: 1.0) ;
        width:rem(511px);
        height:rem(231px);
        padding: rem(30px);
        background-size: cover; 
        margin-bottom: rem(2px);
        
        &_block{
            background:#d69336;
        }
    }

    .side_bottom_left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background:url(../img/lawn-central-park1.png) no-repeat, rgba($color:#8467a5, $alpha: 1.0);
        background-size: cover;
        width:rem(254px);
        height:rem(248px);
        padding: rem(30px);
        margin-right: rem(2px);

        &_block{
            background: #72598f;
        }
    }
    .side_bottom_right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background:url(../img/lawn-central-park2.png) no-repeat, rgba($color:#07be9a, $alpha: 1.0) ; 
        width:rem(254px);
        height:rem(248px);
        padding: rem(30px);
        background-size: cover;

        &_block{
            background: #07a686;
        }
    } 

    @include respond-to(mobile){

    }
    
   
}