.our_clients {
    @include site_width;

    margin-top: rem(100px);

    &_heading {
        @include font("Nunito-SemiBold",40px);
        text-transform: uppercase;
        text-align: center;
    }

    &_arrow {
        display: none;
    }

    &_list {
        margin-top: rem(55px);
        display: flex;
        margin-right: rem(70px);
        margin-left: rem(70px);
        justify-content: space-around;
    }
}

@include respond-to (mobile) {
    .our_clients {
        margin-top: rem(60px);
        position: relative;

        &_heading {
            font-size: rem(22px);
        }
        &_arrow {
            display: block;
            &_left {
                margin-right: rem(10px);
                position: absolute;
                left: 15px;
                bottom: 10px;
            }
            &_right {
                margin-left: rem(10px);
                position: absolute;
                right: 15px;
                bottom: 10px;
            }
        }
        &_list {
            margin: rem(30px) rem(37px) 0;
            display: flex;
            justify-content: flex-start;
            overflow-x: scroll;
        }
        &_item {
            margin-right: rem(35px);
            &:first-child {
                margin-left: rem(35px);
            }
        }
    }
}
