.portfolio {
    padding: 110px 0px 185px 0px;
    border-top: 2px solid $p-color3;
    border-bottom: 2px solid $p-color3;

    &_title {
        margin-bottom: 60px;
        text-align: center;
        color: $p-color3;
        @include font("Nunito-Light", 40px);

        &_accent {
            color: $p-color1;
        }
    }

    &_list_wrapper {
        overflow: hidden;
        overflow-x: auto;
    }

    &_list {
        min-width: 1024px;
        width: 100%;
        display: flex;
    }

    &_item {
        width: 25%;
        margin-right: 2px;
        position: relative;

        &:last-child {
            margin-right: 0;
        }

        @include respond-to(to_desktop) {
            width: 325px;
        }

        &:after {
            content: '';
            position: absolute;
            height: 40%;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }

        &.blue {
            &:after {
                background-image: linear-gradient( 0deg, rgb(43,79,180) 0%, rgba(0,0,0,0) 100%);
            }
        }
        &.red {
            &:after {
                background-image: linear-gradient( 0deg, rgb(164,59,68) 0%, rgba(164,59,68,0.99) 1%, rgba(0,0,0,0) 100%);
            }
        }
        &.crimson {
            &:after {
                background-image: linear-gradient( 0deg, rgb(106,20,82) 0%, rgba(106,20,82,0.99) 1%, rgba(0,0,0,0) 100%);
            }
        }
        &.violet {
            &:after {
                background-image: linear-gradient( 0deg, rgb(70,49,89) 0%, rgba(70,49,89,0.99) 1%, rgba(0,0,0,0) 100%);
            }
        }

        &_title {
            font-family:"Raleway-Light";
            font-size: rem (24px);
        }

        &_discription {
            font-family: "Nunito-SemiBold";
            font-size: rem (18px);
        }

        &_block {
            position: absolute;
            bottom: 28px;
            left: 29px;
            z-index: 2;
        }

        &_img {
            width: 100%;
            display: block;
        }
    }
}

@include respond-to(to_desktop) {
    .portfolio {
        &_title {
            font-size: 22px;
        }

        &_accent {
            font-size: 22px;
        }
            border: none;
        }

        &_title {
            margin: 50px 0px 40px 0px;
            font-size: 22px;
        }

        &_accent {
            margin: 50px 0px 40px 0px;
            font-size: 22px;
        }
}
