
.why_django_button {
	background:$p-color2;
	position: relative;
}

.why_django_mouse	{
	position: absolute;
	display: inline-block;
	top: rem(-219px);
	z-index: 1;
	width: 300px;
	height: 180px;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}


.why_django {
	@include site_width;


	background:$p-color2;
	&_title {
		margin-top: rem(130px);
		margin-bottom: rem(70px);
	}
	&_list {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-right: rem(25px);
		margin-left: rem(25px);
		&_title {
			margin-top: rem(26px);
			font-size: rem(24px);

			font-weight: bold;
		}
		&_description {
			margin-top: rem(9px);

			font-size: rem(16px);
			font-weight: 400;
		}

	}

	&_item {
	margin-bottom: rem(100px);
	text-align: center;
	color: $p-color3;
	width: 25%;
	}
	&_item + &_item {
		margin-left: rem(20px);
	}

&_item:nth-child(4n) {
	margin-left: 0;
}

&_stars, &_pig, &_gift, &_hands, &_thoughts, &_team {
	content: "";
	background: center;
	width: 90px;
	height: 90px;
	display: inline-block;

}

}

@include respond-to(mobile) {

.why_django_mouse	{
	left: 50%;
	top: rem(-89px);

}

	.why_django {
	width: 100%;



	&_list {
		display: flex;
		flex-direction: column;

	}
	&_item {
		width: 100%;
		text-align: left;
	}

	&_stars, &_pig, &_gift, &_hands, &_thoughts, &_team {
	content: "";
	background: center;
	width: 90px;
	height: 90px;
	display: block;
	vertical-align: center;
	float: left


}
	&_item + &_item {
		margin-left: 0;
	}
}
.why_django_list_title{
	float: left;
	margin-top: rem(14px);
	margin-left: rem(14px);
	 margin-right: rem(14px);
		}
@include clearfix;

.why_django_list_description{
		display: inline-block;
		margin-left: rem(100px);
	margin-top: rem(-30px);
	font-size: rem(19px)
		}


}
